<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>News Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
    <!--<style src="/static/styles.css"></style>-->
	<link href="static/index.css" rel="stylesheet" type="text/css"/>
	<link href="static/styles.css" rel="stylesheet" type="text/css"/>
	<link href="static/my.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="App">
    	<header class="App-header">

			<div class="images-container">
				<img src="/static/Ambulance.jpg" alt="Image 1" class="header-image" />
				<img src="/static/Trump.avif" alt="Image 2" class="header-image" />
			</div>

			<div class="images-container-right">
				<img src="/static/War.webp" alt="Image 3" class="header-image" />
				<img src="/static/Stocks.jpg" alt="Image 3" class="header-image" />
			</div>
        	
			<h1>
				📰 Newsference 📻
			</h1>

			<h2>
			  Welcome to Newsference, a site dedicated to analyzing and understanding our news and business cycles. Search any topic below
			  and get detailed metrics about how it is being covered.
			</h2>

			<div class="search-bar-container">
				<form hx-post="/submit" hx-target="#response" hx-swap="innerHTML">
					<input 
						name="text"
				    	type="text" 
					  	class="search-bar" 
						placeholder="Search a Topic" 
					/>
				  	<button class="enter-button" type="submit">Enter</button>
				</form>
			</div>

				<div class="tab filter-buttons">
					<button class="tablinks filter-button left"
						    onClick="handleFilter(event, 'left')">
						Left
					</button> 
					<button class="tablinks filter-button center"
						    onClick="handleFilter(event, 'center')">
						Center
					</button> 
					<button class="tablinks filter-button right"
						    onClick="handleFilter(event, 'right')">
						Right
					</button> 
				</div>

				<div class="summary-box">
        			<div id="response"></div>
					<!--<div>-->
					<!--<div id="left" class="tabcontent">-->
					<!--	<div class="summary">Summary</div>-->
					<!--	<div class="summary-text">-->
					<!--	Left-->
					<!--	</div>-->
					<!--	<div class="line"></div>-->
					<!--	<div class="articles">Articles</div>-->
					<!--	<div class="article-text">-->
					<!--	</div>-->
					<!--</div>-->
					<!--<div id="center" class="tabcontent">-->
					<!--	<div class="summary">Summary</div>-->
					<!--	<div class="summary-text">-->
					<!--	Center-->
					<!--	</div>-->
					<!--	<div class="line"></div>-->
					<!--	<div class="articles">Articles</div>-->
					<!--	<div class="article-text">-->
					<!--	</div>-->
					<!--</div>-->
					<!--<div id="right" class="tabcontent">-->
					<!--	<div class="summary">Summary</div>-->
					<!--	<div class="summary-text">-->
					<!--	Right-->
					<!--	</div>-->
					<!--	<div class="line"></div>-->
					<!--	<div class="articles">Articles</div>-->
					<!--	<div class="article-text">-->
					<!--	</div>-->
					<!--</div>-->
					<!--</div>-->
				</div>
			<!--<div style="width:85%">-->
				<!--<div id="left" class="summary-box tabcontent">-->
				<!--	<div class="summary">Summary</div>-->
				<!--	<div class="summary-text">-->
				<!--	Left-->
				<!--	</div>-->
				<!--	<div class="line"></div>-->
				<!--	<div class="articles">Articles</div>-->
				<!--	<div class="article-text">-->
				<!--	</div>-->
				<!--</div>-->
				<!---->
				<!--<div id="center" class="summary-box tabcontent">-->
				<!--	<div class="summary">Summary</div>-->
				<!--	<div class="summary-text">-->
				<!--	Center-->
				<!--	</div>-->
				<!--	<div class="line"></div>-->
				<!--	<div class="articles">Articles</div>-->
				<!--	<div class="article-text">-->
				<!--	</div>-->
				<!--</div>-->
				<!---->
				<!--<div id="right" class="summary-box tabcontent">-->
				<!--	<div class="summary">Summary</div>-->
				<!--	<div class="summary-text">-->
				<!--	Right-->
				<!--	</div>-->
				<!--	<div class="line"></div>-->
				<!--	<div class="articles">Articles</div>-->
				<!--	<div class="article-text">-->
				<!--	</div>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div class="summary-box">-->
			<!--	<div id="left" class="tabcontent">-->
			<!--		<p>London is the capital city of England.</p>-->
			<!--	</div>-->
			<!---->
			<!--	<div id="center" class="tabcontent">-->
			<!--		<p>Paris is the capital of France.</p>-->
			<!--	</div>-->
			<!---->
			<!--	<div id="right" class="tabcontent">-->
			<!--		<p>Tokyo is the capital of Japan.</p>-->
			<!--	</div>-->
			<!--</div>-->

			<!--<div class="summary-box">-->
			<!--	<div class="summary">Summary</div>-->
			<!--	<div class="summary-text">-->
			<!--		<div id="left" class="tabcontent">-->
			<!--			<p>London is the capital city of England.</p>-->
			<!--		</div>-->
			<!---->
			<!--		<div id="center" class="tabcontent">-->
			<!--			<p>Paris is the capital of France.</p>-->
			<!--		</div>-->
			<!---->
			<!--		<div id="right" class="tabcontent">-->
			<!--			<p>Tokyo is the capital of Japan.</p>-->
			<!--		</div>-->
			<!--	</div>-->
			<!---->
			<!--	<div class="line"></div>-->
			<!--	<div class="articles">Articles</div>-->
			<!--	<div class="article-text">-->
			<!--	</div>-->
			<!--</div>-->

        	<!--<div class="summary-box">-->
        	<!--</div>-->
    	</header>
    </div>

    <!--<div class="container">-->
    <!--    <h1>News Analysis</h1>-->
    <!---->
    <!--    <form hx-post="/submit" hx-target="#response" hx-swap="innerHTML">-->
    <!--        <input type="text" name="text" placeholder="Enter something...">-->
    <!--        <button type="submit">-->
    <!--            Submit-->
    <!--        </button>-->
    <!--    </form>-->
    <!--</div>-->

    <script>
        document.body.addEventListener('htmx:sseBeforeMessage', function (e) {
            console.log(e)
        })

        document.addEventListener('htmx:afterRequest', function(evt) {
            // Put the JS code that you want to execute here
            const sseContainer = document.getElementById('sseContainer');
            //htmx.process(sseContainer);
        });

		function handleFilter(event, leaning) {
			var i, tabcontent, tablinks;
			tabcontent = document.getElementsByClassName("tabcontent");
			for (i = 0; i < tabcontent.length; i++) {
				tabcontent[i].style.display = "none";
			}
			
			// Get all elements with class="tablinks" and remove the class "active"
			tablinks = document.getElementsByClassName("tablinks");
			for (i = 0; i < tablinks.length; i++) {
				console.log(tablinks[i])
				tablinks[i].className = tablinks[i].className.replace(" active", "");
			}
			
			// Show the current tab, and add an "active" class to the button that opened the tab
			document.getElementById(leaning).style.display = "block";
			event.currentTarget.className += " active";
		}
    </script>
</body>
</html>
